.guess_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.guess_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.column {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 10px;
}

.section_header {
    text-align: center;
    font-family: 'Clear Sans', 'Helvetica Neue', 'Arial';
}

.row {
    padding: 3px;
    display: flex;
    flex-direction: row;
}

button {

    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.display_text {
    font-family: 'Clear Sans', 'Helvetica Neue', 'Arial';
    font-weight: bold;
}

.tile {
    width: 40px;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-width: 0px;
}

.result {
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    width: 112px;
}

.form_input {
    background-color: lightgray;
    color: black;
    width: 240px;
    font-size: xx-large;
    font-family: 'Clear Sans', 'Helvetica Neue', 'Arial';
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-width: 0px;
}

.wrong {
    background-color: #787c7f;
}

.wrong_position {
    background-color: #c8b653;
}

.correct {
    background-color: #6ca965;
}

.invalid {
    background-color: red;
}

.instructions {
    font-weight: normal;
}

.page_title {
    font-variant-caps: petite-caps;
    text-align: center;
}